@charset "UTF-8";
@import url(d:\projects\Filmoteka-5group\node_modules\modern-normalize\modern-normalize.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  min-height: 44px;
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Миксин для медиаправил. Пример использования: @include respond-to (tablet-only){ } */
/* Миксин для свойств transition. Через запятую вносятся все свойства, к которым применяется. 
Пример: @include transit (color, background-color); */
/* Миксин для центрирования флексами. По умолчанию все свойства center.
Пример: @include centered; или @include centered($justify:space-between);*/
.header-section {
  padding-top: 48px;
  padding-bottom: 97px;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 230px;
}

.header-section__list {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/home-pc.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/home-pc.jpg");
}

.header-container {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-section__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: tomato;
}

.header-logo__icon {
  margin-right: 12px;
  position: relative;
}

.header-logo__label {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .header-logo__label {
    display: block;
  }
}

.header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-btns__item:not(:last-child) {
  margin-right: 39px;
}

.header-btns__label {
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 336px;
  border-bottom: 0.5px solid #FFFFFF;
}

.header-form__input {
  border: none;
  padding: 5px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  outline: none;
  background: none;
  width: 100%;
}

.header-form__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  margin: 0;
  outline: none;
  width: 21px;
}

.header-form__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  margin: 0;
  outline: none;
  width: 21px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 300px;
  min-width: 600px;
  padding: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border-radius: 50%;
}

.logInForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputStyle {
  border: 1px dashed green;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
}

.loginSubmitBtn {
  margin-top: 30px;
}

.signInSubmitBtn {
  margin-top: 30px;
}

.btnStyle {
  padding-left: 20px;
  padding-right: 20px;
}

.--is-hidden {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

/* Мейн */
.section {
  background-color: #E5E5E5;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

@media screen and (min-width: 768px) {
  .main__movie-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main__movie-card-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main__movie-card-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .main__movie-card-item {
    width: calc((100% - 16px * 2) / 3);
  }
}

.main__movie-card-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .main__movie-card-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .main__movie-card-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .main__movie-card-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .main__movie-card-item:nth-child(odd) {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .main__movie-card-item:nth-child(odd) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .main__movie-card-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .main__movie-card-item:not(:nth-child(3n)) {
    margin-right: 16px;
  }
}

.main__movie-link {
  display: block;
  text-decoration: none;
}

.main__movie-img {
  margin-bottom: 10px;
  width: 100%;
}

.main__movie-title,
.main__movie-genre {
  color: #000000;
  margin: 0;
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.main__movie-genre {
  color: #FF6B08;
}

.main_movie-year::before {
  content: '';
  width: 1px;
  height: 10px;
  margin: 0 3px;
  display: inline-block;
  background-color: #FF6B08;
}

.details__backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  overflow-y: scroll;
  background-image: url(https://image.tmdb.org/t/p/original/rlCRM7U5g2hcU1O8ylGcqsMYHIP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.details__modal {
  display: block;
  position: absolute;
  width: 90%;
  top: 20px;
  z-index: 2;
  padding: 48px 20px 40px;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .details__modal {
    top: 219px;
    width: 704px;
    padding: 40px 72px 40px 36px;
  }
}

@media screen and (min-width: 1024px) {
  .details__modal {
    top: 151px;
    width: 814px;
    padding: 40px 16px;
  }
}

.details__box {
  display: block;
  margin: 0 auto;
  width: 240px;
}

@media screen and (min-width: 768px) {
  .details__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.details__poster {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .details__poster {
    margin-right: 68px;
  }
}

@media screen and (min-width: 1024px) {
  .details__poster {
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.details__image {
  display: block;
  border-radius: 5px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .details__image {
    width: 264px;
    height: 374px;
  }
}

@media screen and (min-width: 1024px) {
  .details__image {
    width: 375px;
    height: 478px;
  }
}

.details__info {
  display: block;
}

@media screen and (min-width: 768px) {
  .details__info {
    width: 264px;
  }
}

@media screen and (min-width: 1024px) {
  .details__info {
    width: 391px;
  }
}

.details__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .details__title {
    font-size: 30px;
    line-height: 1.17;
  }
}

.details__attributesList li:not(:last-child) {
  margin-bottom: 8px;
}

.details__attributesList li:last-child {
  margin-bottom: 20px;
}

.details__attribute {
  display: inline-block;
  width: 152px;
  color: #8C8C8C;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}

.details__attribute-value {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
}

.details__attribute-vote {
  display: inline-block;
  width: 36px;
  height: 16px;
  background-color: #ff6b08;
  border-radius: 5px;
  color: #fff;
  line-height: 1.33;
  text-align: center;
}

.details__attribute-title {
  text-transform: uppercase;
}

.details__subtitle {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}

.details__description {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.67;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .details__description {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .details__description {
    margin-bottom: 20px;
  }
}

.details__buttonSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details__button-queue, .details__button-accent {
  width: 110px;
  border-radius: 5px;
  padding: 14px 10px 12px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  border: 1px solid #000000;
  background-color: #ffffff;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@media screen and (min-width: 768px) {
  .details__button-queue, .details__button-accent {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .details__button-queue, .details__button-accent {
    width: 136px;
  }
}

.details__button-queue:hover, .details__button-accent:hover, .details__button-queue:focus, .details__button-accent:focus {
  background-color: #ff6b08;
  color: #ffffff;
}

.details__button-accent {
  background-color: #ff6b08;
  margin-right: 20px;
  color: #ffffff;
  border-color: #ff6b08;
  -webkit-transition-property: background-color, color, border;
  transition-property: background-color, color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@media screen and (min-width: 768px) {
  .details__button-accent {
    margin-right: 15px;
  }
}

.details__button-accent:hover, .details__button-accent:focus {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.isHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  margin: 0;
}

.footer {
  background-color: #F7F7F7;
  width: 100%;
}

.footer__section {
  margin: 0 auto;
  padding: 30px 36px 30px 48px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}

@media screen and (min-width: 768px) {
  .footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__section--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__section--text {
    margin-left: 5px;
  }
}

.footer__section--link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  border: none;
  background-color: transparent;
  color: #545454;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
  padding: 0;
}

.footer__section--link:hover, .footer__section--link:focus {
  color: #ff6b08;
}

@media screen and (max-width: 1023px) {
  .footer__section--link {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__section--svg {
  margin-right: 10px;
  margin-left: 10px;
  width: 14px;
  height: 12px;
}

.footer-backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.footer-modal {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.footer-modal__container {
  position: relative;
  width: 320px;
  background: rgba(66, 66, 66, 0.7);
  padding: 30px;
}

@media screen and (min-width: 768px) {
  .footer-modal__container {
    width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-modal__container {
    width: 900px;
  }
}

.footer-modal__close {
  position: absolute;
  top: 4px;
  right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.footer-modal__close--svg {
  fill: #545454;
}

.footer-modal__close--svg :hover,
.footer-modal__close--svg :focus {
  fill: #ff6b08;
  width: 20px;
}

.footer-modal__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.footer-modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-modal__item {
  margin: 0 10px;
  width: 250px;
  height: 270px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

@media screen and (max-width: 1023px) {
  .footer-modal__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-modal__item:nth-child(-n+6) {
    margin-bottom: 20px;
  }
}

.footer-modal__item--img {
  pointer-events: initial;
  border-radius: 10px;
  margin-bottom: 7px;
}

.footer-modal__description p {
  color: #ff6b08;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  margin-bottom: 5px;
}

.footer-modal__description h3 {
  color: #545454;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  margin-bottom: 5px;
}

.footer-modal__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-modal__social-link {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
}

.footer-modal__social-link--svg {
  fill: #545454;
}

.footer-modal__social-link--svg:hover, .footer-modal__social-link--svg:focus {
  fill: #ff6b08;
}
/*# sourceMappingURL=index.css.map */