@charset "UTF-8";
@import url(c:\Users\Lentus\OneDrive\Рабочий стол\WorkCode\Filmoteka-5group\node_modules\modern-normalize\modern-normalize.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  min-height: 44px;
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Миксин для медиаправил. Пример использования: @include respond-to (tablet-only){ } */
/* Миксин для свойств transition. Через запятую вносятся все свойства, к которым применяется. 
Пример: @include transit (color, background-color); */
/* Миксин для центрирования флексами. По умолчанию все свойства center.
Пример: @include centered; или @include centered($justify:space-between);*/
.header {
  background-color: #2c2c94;
}

.details__backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  background-image: url(https://image.tmdb.org/t/p/original/rlCRM7U5g2hcU1O8ylGcqsMYHIP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.details__modal {
  display: block;
  position: absolute;
  background-color: white;
  max-width: 900px;
  padding: 40px 72px 40px 36px;
  background-color: aquamarine;
  position: absolute;
  width: 700px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.details__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__poster {
  display: block;
  width: 264px;
  height: 478px;
}

.details__image {
  display: block;
  max-width: 375px;
  max-height: 478px;
}

.details__info {
  display: block;
}

.isHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  margin: 0;
}

.footer {
  background-color: #F7F7F7;
  width: 100%;
}

.footer__section {
  margin: 0 auto;
  padding: 30px 36px 30px 48px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}

@media screen and (min-width: 768px) {
  .footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__section--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__section--text {
    margin-left: 5px;
  }
}

.footer__section--link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  border: none;
  background-color: transparent;
  color: #545454;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
  padding: 0;
}

.footer__section--link:hover, .footer__section--link:focus {
  color: #ff6b08;
}

@media screen and (max-width: 1023px) {
  .footer__section--link {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__section--svg {
  margin-right: 10px;
  margin-left: 10px;
  width: 14px;
  height: 12px;
}

.footer-backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.footer-modal {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.footer-modal__container {
  position: relative;
  width: 320px;
  background: rgba(66, 66, 66, 0.7);
  padding: 30px;
}

@media screen and (min-width: 768px) {
  .footer-modal__container {
    width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-modal__container {
    width: 900px;
  }
}

.footer-modal__close {
  position: absolute;
  top: 4px;
  right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.footer-modal__close--svg {
  fill: #545454;
}

.footer-modal__close--svg :hover,
.footer-modal__close--svg :focus {
  fill: #ff6b08;
  width: 20px;
}

.footer-modal__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.footer-modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-modal__item {
  margin: 0 10px;
  width: 250px;
  height: 270px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

@media screen and (max-width: 1023px) {
  .footer-modal__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-modal__item:nth-child(-n+6) {
    margin-bottom: 20px;
  }
}

.footer-modal__item--img {
  pointer-events: initial;
  border-radius: 10px;
  margin-bottom: 7px;
}

.footer-modal__description p {
  color: #ff6b08;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  margin-bottom: 5px;
}

.footer-modal__description h3 {
  color: #545454;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  margin-bottom: 5px;
}

.footer-modal__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-modal__social-link {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
}

.footer-modal__social-link--svg {
  fill: #545454;
}

.footer-modal__social-link--svg:hover, .footer-modal__social-link--svg:focus {
  fill: #ff6b08;
}
/*# sourceMappingURL=index.css.map */