

<!-- Modal -->
<div class="describe-modal is-hidden js-alert" id="exampleModal" tabindex="-1" aria-labelledby="describeModalLabel" aria-hidden="true">
    <div class="describe-modal__dialog">
        <div class="describe-modal__content">
            <div class="describe-modal__header">
                <h5 class="describe-modal__title" id="exampleModalLabel">Wish to subscribe to the upgrade?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="" aria-label="Close"></button>
                <button class="describe-modal__close" data-modal-footer-close>
                    <svg class="describe-modal__close--svg" width="18px" height="18px">
                        <use href="/src/images/sprite.svg#footer-modal-close"></use>
                    </svg>
            </div>
            <div class="describe-modal__body">
                <form class="describe-form" autocomplete="off">
                    <label class="describe-form__label">
                        <span>Name</span>
                        <input type="text" class="describe-form__input" name="username" autofocus />
                    </label>
                    <label class="describe-form__label">
                        <span>Email</span>
                        <input type="email" class="describe-form__input" name="email" autofocus />
                    </label>
                    <div class="describe-form__button"><button type="submit"
                            class="describe-form__submit">Subscribe</button></div>

                </form>
            </div>
            <!-- <div class="describe-modal__footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="describe-modal">Close</button>
                <button type="button" class="btn btn-primary">Підписатися</button>
            </div> -->
        </div>
    </div>
</div>



<!-- Modal  fade isHidden-->
<!-- <div class="describe-modal" id="exampleModal" tabindex="-1" aria-labelledby="describeModalLabel" aria-hidden="true">
    <div class="describe-modal__dialog">
        <div class="describe-modal__content">
            <div class="describe-modal__header">
                <h5 class="describe-modal__title" id="exampleModalLabel">Бажаєте підписатися на оновлення?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="" aria-label="Close"></button>
            </div>
            <div class="describe-modal__body">
                <form class="describe-form" autocomplete="off">
                    <label>
                        Name
                        <input type="text" class="describe-form__input" name="username" autofocus />
                    </label>
                    <label>
                        Email
                        <input type="email" class="describe-form__input" name="email" autofocus />
                    </label>

                    <button type="submit" class="describe-form__submit">Підписатися</button>
                </form>
            </div>
            <div class="describe-modal__footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="describe-modal">Закрити</button> -->
<!-- <button type="button" class="btn btn-primary">Підписатися</button> -->
<!-- </div>
        </div>
    </div>
</div> -->