<div class="details__backdrop">
    <div class="details__modal">
        <div class="details__box">
            <div class="details__poster">
                <img class="details__image" src="https://image.tmdb.org/t/p/w500/dquIzIBVYcoCMnQ31EcwBX4gXoT.jpg"
                    alt="poster" width="375px" />
            </div>
            <div class="details__info">
                <h2 class="details__title">Ms. Marvel</h2>
                <ul class="details__attributesList">
                    <li>
                        <p class="details__attribute">
                            <span class="details__attribute-value"></span>
                        </p>
                    </li>
                    <li>
                        <p class="details__attribute">
                            <span class="details__attribute-value">

                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="details__attribute">
                            <span class="details__attribute-value"></span>
                        </p>
                    </li>
                    <li>
                        <p class="details__attribute">
                            <span class="details__attribute-value"></span>
                        </p>
                    </li>
                </ul>
                <p>about</p>
                <p class="details__description">"A great student, avid gamer, and voracious fan-fic scribe, Kamala Khan
                    has a special affinity for superheroes,
                    particularly Captain Marvel. However, she struggles to fit in at home and at school — that is, until
                    she gets
                    superpowers like the heroes she’s always looked up to. Life is easier with superpowers, right?"</p>
                <div class="details__buttonSet">
                    <button class="details__button" type="button" data-action="details-watched-btn">add to
                        watched</button>
                    <button class="details__button" type="button" data-action="details-queue-btn">add to queue</button>
                </div>
            </div>
        </div>
    </div>
</div>