<div class="footer-backdrop is-hidden">
    <div class="footer-modal isHidden">
        <h2>Project_group_5</h2>
        <button class="footer-modal__close">
            <svg class="footer-modal__close--svg">
                <use></use>
            </svg>
        </button>
        <div class="footer-modal__item">
            <img src="#" alt="#">
            <h2></h2>
            <p></p>
            <div class="footer-moda__social-links">
                <a href="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
                <a href="https://github.com/Lentuss">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-modal__item">
            <img src="#" alt="#">
            <h2></h2>
            <p></p>
            <div class="footer-moda__social-links">
                <a href="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
                <a href="https://github.com/Lentuss">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-modal__item">
            <img src="#" alt="#">
            <h2></h2>
            <p></p>
            <div class="footer-moda__social-links">
                <a href="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
                <a href="https://github.com/Lentuss">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-modal__item">
            <img src="#" alt="#">
            <h2></h2>
            <p></p>
            <div class="footer-moda__social-links">
                <a href="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
                <a href="https://github.com/Lentuss">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-modal__item">
            <img src="#" alt="#">
            <h2></h2>
            <p></p>
            <div class="footer-moda__social-links">
                <a href="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
                <a href="https://github.com/Lentuss">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-modal__item">
            <img src="#" alt="#">
            <h2></h2>
            <p></p>
            <div class="footer-moda__social-links">
                <a href="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
                <a href="https://github.com/Lentuss">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-modal__item">
            <img src="#" alt="#">
            <h2></h2>
            <p></p>
            <div class="footer-moda__social-links">
                <a href="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
                <a href="https://github.com/Lentuss">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-modal__item">
            <img src="#" alt="#">
            <h2></h2>
            <p></p>
            <div class="footer-moda__social-links">
                <a href="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
                <a href="https://github.com/Lentuss">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-modal__item">
            <img src="#" alt="#">
            <h2></h2>
            <p></p>
            <div class="footer-moda__social-links">
                <a href="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
                <a href="https://github.com/Lentuss">
                    <svg class="footer-modal__social-link--svg">
                        <use></use>
                    </svg>
                </a>
            </div>
        </div>

    </div>
</div>