<div class="footer-backdrop is-hidden">
    <div class="footer-modal">
      <div class="footer-modal__container">
            <h2 class="footer-modal__title">PROJECT_GROUP_5</h2>
            <button class="footer-modal__close">
                <svg class="footer-modal__close--svg" width="18px" height="18px">
                    <use href="/src/images/sprite.svg#footer-modal-close"></use>
                </svg>
            </button>
            <div class="footer-modal__list">
                <div class="footer-modal__item">
                    <img class='footer-modal__item--img' src="/src/images/home-mobile.jpg" alt="">
                    <div class="footer-modal__description">
                        <h3>OLENA POHYBIL</h3>
                        <p>Team Lead</p>
                        <div class="footer-modal__social-links">
                            <a class='footer-modal__social-link' ref="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                                <svg class="footer-modal__social-link--svg" width="25px" height="25px">
                                    <use href="/src/images/sprite.svg#github"></use>
                                </svg>
                            </a>
                            <a class='footer-modal__social-link' href="https://github.com/Lentuss">
                                <svg class="footer-modal__social-link--svg" width="28px" height="28px">
                                    <use href="/src/images/sprite.svg#linkedin" width="28px" height="28px"></use>
                                </svg>
                            </a>
                        </div>
                    </div>                    
                </div>             
                <div class="footer-modal__item">
                    <img class='footer-modal__item--img' src="/src/images/home-mobile.jpg" alt="">
                    <div class="footer-modal__description">
                        <h3>OLENA POHYBIL</h3>
                        <p>Team Lead</p>
                        <div class="footer-modal__social-links">
                            <a class='footer-modal__social-link' ref="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                                <svg class="footer-modal__social-link--svg" width="25px" height="25px">
                                    <use href="/src/images/sprite.svg#github"></use>
                                </svg>
                            </a>
                            <a class='footer-modal__social-link' href="https://github.com/Lentuss">
                                <svg class="footer-modal__social-link--svg" width="28px" height="28px">
                                    <use href="/src/images/sprite.svg#linkedin" width="28px" height="28px"></use>
                                </svg>
                            </a>
                        </div>
                    </div>            
                </div>        
                <div class="footer-modal__item">
                    <img class='footer-modal__item--img' src="/src/images/home-mobile.jpg" alt="">
                    <div class="footer-modal__description">
                        <h3>OLENA POHYBIL</h3>
                        <p>Team Lead</p>
                        <div class="footer-modal__social-links">
                            <a class='footer-modal__social-link' ref="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                                <svg class="footer-modal__social-link--svg" width="25px" height="25px">
                                    <use href="/src/images/sprite.svg#github"></use>
                                </svg>
                            </a>
                            <a class='footer-modal__social-link' href="https://github.com/Lentuss">
                                <svg class="footer-modal__social-link--svg" width="28px" height="28px">
                                    <use href="/src/images/sprite.svg#linkedin" width="28px" height="28px"></use>
                                </svg>
                            </a>
                        </div>
                    </div>            
                </div>
                <div class="footer-modal__item">
                    <img class='footer-modal__item--img' src="/src/images/home-mobile.jpg" alt="">
                    <div class="footer-modal__description">
                        <h3>OLENA POHYBIL</h3>
                        <p>Team Lead</p>
                        <div class="footer-modal__social-links">
                            <a class='footer-modal__social-link' ref="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                                <svg class="footer-modal__social-link--svg" width="25px" height="25px">
                                    <use href="/src/images/sprite.svg#github"></use>
                                </svg>
                            </a>
                            <a class='footer-modal__social-link' href="https://github.com/Lentuss">
                                <svg class="footer-modal__social-link--svg" width="28px" height="28px">
                                    <use href="/src/images/sprite.svg#linkedin" width="28px" height="28px"></use>
                                </svg>
                            </a>
                        </div>
                    </div>            
                </div>
                <div class="footer-modal__item">
                    <img class='footer-modal__item--img' src="/src/images/home-mobile.jpg" alt="">
                    <div class="footer-modal__description">
                        <h3>OLENA POHYBIL</h3>
                        <p>Team Lead</p>
                        <div class="footer-modal__social-links">
                            <a class='footer-modal__social-link' ref="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                                <svg class="footer-modal__social-link--svg" width="25px" height="25px">
                                    <use href="/src/images/sprite.svg#github"></use>
                                </svg>
                            </a>
                            <a class='footer-modal__social-link' href="https://github.com/Lentuss">
                                <svg class="footer-modal__social-link--svg" width="28px" height="28px">
                                    <use href="/src/images/sprite.svg#linkedin" width="28px" height="28px"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>        
                <div class="footer-modal__item">
                    <img class='footer-modal__item--img' src="/src/images/home-mobile.jpg" alt="">
                    <div class="footer-modal__description">
                        <h3>OLENA POHYBIL</h3>
                        <p>Team Lead</p>
                        <div class="footer-modal__social-links">
                            <a class='footer-modal__social-link' ref="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                                <svg class="footer-modal__social-link--svg" width="25px" height="25px">
                                    <use href="/src/images/sprite.svg#github"></use>
                                </svg>
                            </a>
                            <a class='footer-modal__social-link' href="https://github.com/Lentuss">
                                <svg class="footer-modal__social-link--svg" width="28px" height="28px">
                                    <use href="/src/images/sprite.svg#linkedin" width="28px" height="28px"></use>
                                </svg>
                            </a>
                        </div>
                    </div>            
                </div>
                <div class="footer-modal__item">
                    <img class='footer-modal__item--img' src="/src/images/home-mobile.jpg" alt="">
                    <div class="footer-modal__description">
                        <h3>OLENA POHYBIL</h3>
                        <p>Team Lead</p>
                        <div class="footer-modal__social-links">
                            <a class='footer-modal__social-link' ref="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                                <svg class="footer-modal__social-link--svg" width="25px" height="25px">
                                    <use href="/src/images/sprite.svg#github"></use>
                                </svg>
                            </a>
                            <a class='footer-modal__social-link' href="https://github.com/Lentuss">
                                <svg class="footer-modal__social-link--svg" width="28px" height="28px">
                                    <use href="/src/images/sprite.svg#linkedin" width="28px" height="28px"></use>
                                </svg>
                            </a>
                        </div>
                    </div>            
                </div>
                <div class="footer-modal__item">
                    <img class='footer-modal__item--img' src="/src/images/home-mobile.jpg" alt="">
                    <div class="footer-modal__description">
                        <h3>OLENA POHYBIL</h3>
                        <p>Team Lead</p>
                        <div class="footer-modal__social-links">
                            <a class='footer-modal__social-link' ref="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                                <svg class="footer-modal__social-link--svg" width="25px" height="25px">
                                    <use href="/src/images/sprite.svg#github"></use>
                                </svg>
                            </a>
                            <a class='footer-modal__social-link' href="https://github.com/Lentuss">
                                <svg class="footer-modal__social-link--svg" width="28px" height="28px">
                                    <use href="/src/images/sprite.svg#linkedin" width="28px" height="28px"></use>
                                </svg>
                            </a>
                        </div>
                    </div>            
                </div>
                <div class="footer-modal__item">
                    <img class='footer-modal__item--img' src="/src/images/home-mobile.jpg" alt="">
                    <div class="footer-modal__description">
                        <h3>OLENA POHYBIL</h3>
                        <p>Team Lead</p>
                        <div class="footer-modal__social-links">
                            <a class='footer-modal__social-link' ref="https://www.linkedin.com/in/olena-pohybil-4725b7220/">
                                <svg class="footer-modal__social-link--svg" width="25px" height="25px">
                                    <use href="/src/images/sprite.svg#github"></use>
                                </svg>
                            </a>
                            <a class='footer-modal__social-link' href="https://github.com/Lentuss">
                                <svg class="footer-modal__social-link--svg" width="28px" height="28px">
                                    <use href="/src/images/sprite.svg#linkedin" width="28px" height="28px"></use>
                                </svg>
                            </a>
                        </div>
                    </div>            
                 </div>            
            </div>
        </div>
    </div>
</div>