<footer class="footer">
    <div class="footer__section">
        <p class='footer__section--text'>&#169 2022 | All Rights Reserved |</p>
        <div class="footer__section--flex">
            <p class="footer__section--text-right">Developed with by</p>
            <span class="footer__section--heart"> 
                <svg class='footer__section--svg'>
                    <use href="/src/images/sprite.svg#heart"></use>
                </svg> 
            </span>
            <button class="footer__section--link">GoIT Students</button>
        </div>
    </div>
</footer>