<footer class="footer">
    <div class="footer__section">
        <p>&#169 2022 | All Rights Reserved |</p>
        <div class="footer__section--flex">
            <p class="footer__section--text">Developed with by</p>
            <span class="footer__section--heart"> &#9829
                <!-- <svg>
                    <use href="#"></use>
                </svg>  -->
            </span>
            <button class="footer__section--link">GoIT Students</button>
        </div>
    </div>
</footer>