<section class="header-styles">

    <a href="#">
        <svg>
            <use href="#" />
        </svg>
        Filmoteka
    </a>

    <div>
        <form>
            <input type="text" placeholder="Поиск фильмов" />
            <button type="submit" data-action="search-button">
                <svg>
                    <use href="#" />
                </svg>
            </button>
        </form>
    </div>

    <div class="header-btns">
        <button type="button" data-action="header-home-button">Home</button>
        <button type="button" data-action="header-library-button">My library</button>
    </div>

</section>