<div class="backdrop backdrop--is-hidden" data-backdrop>
  <div class="modal">
    <div>
      <form class="logInForm" autocomplete="on" validate id="form">
        <div class="form-container">
          <label>
            Email
            <input type="email" name="email" id="input-email" />
          </label>

          <label>
            Password
            <input type="password" name="password" id="input-password" />
          </label>
        </div>

        <button
          type="submit"
          data-action="logIn-submit-btn"
          class="loginSubmitBtn"
        >
          Log In
        </button>
        <button
          type="submit"
          data-action="signIn-submit-btn"
          class="signInSubmitBtn --is-hidden"
        >
          Sign Up
        </button>
      </form>
    </div>

    <button class="modal__closeBtn" data-modal-close>
      <svg width="11" height="11">
        <use href="./images/sprite.svg#closeBtnLoginWindow"></use>
      </svg>
    </button>
    <div>
      <button type="button" class="logInBtn-JS --is-hidden">
        Log In Window
      </button>
      <button type="button" class="signInBtn-JS">Sign Up Window</button>
    </div>
  </div>
</div>
