<main>
    <section class="section">
        <div class="container">
            <h1 class="visually-hidden">The best filmoteka ever</h1>
            <ul class="main__movie-card-list">
                <li class="main__movie-card-item">
                    <img class="main__movie-img" src="./images/movie-1.jpg" alt="Movie poster">
                    <div class="main__movie-info">
                        <h2 class="main__movie-title">GREYHOUND</h2>
                        <p class="main__movie-genre">Drama, Action<span class="main_movie-year">2020</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>