<main>
    <section class="section">
        <div class="container">
            <div class="main__movie-card">
                <img class="main__movie-img" src="./images/movie-1.jpg" alt="movie">
                <div class="main__movie-info">
                    <h2 class="main__movie-title">GREYHOUND</h2>
                    <p class="main__movie-genre">Drama, Action<span class="main_movie-year">2020</span></p>
                </div>
            </div>
            <div class="main__movie-card">
                <img class="main__movie-img" src="./images/movie-1.jpg" alt="movie">
                <div class="main__movie-info">
                    <h2 class="main__movie-title">GREYHOUND</h2>
                    <p class="main__movie-genre">Drama, Action<span class="main_movie-year">2020</span></p>
                </div>
            </div>
            <div class="main__movie-card">
                <img class="main__movie-img" src="./images/movie-1.jpg" alt="movie">
                <div class="main__movie-info">
                    <h2 class="main__movie-title">GREYHOUND</h2>
                    <p class="main__movie-genre">Drama, Action<span class="main_movie-year">2020</span></p>
                </div>
            </div>
            <div class="main__movie-card">
                <img class="main__movie-img" src="./images/movie-1.jpg" alt="movie">
                <div class="main__movie-info">
                    <h2 class="main__movie-title">GREYHOUND</h2>
                    <p class="main__movie-genre">Drama, Action<span class="main_movie-year">2020</span></p>
                </div>
            </div>
            <div class="main__movie-card">
                <img class="main__movie-img" src="./images/movie-1.jpg" alt="movie">
                <div class="main__movie-info">
                    <h2 class="main__movie-title">GREYHOUND</h2>
                    <p class="main__movie-genre">Drama, Action<span class="main_movie-year">2020</span></p>
                </div>
            </div>
        </div>
    </section>
</main>