<section class="slider-section">
    <div class="container">
        <h2>Trending films</h2>
        <div class="wrapper">
            <div class="slider-container">
                <div class="slider-track">
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                </div>
                <div class="slider-buttons">
                    <button class="slider-btns btn-prev">&LT;</button>
                    <button class="slider-btns btn-next">&GT;</button>
                </div>

            </div>
        </div>
    </div>
</section>