.modal {
    background-color: rgb(255, 187, 127);
    color: rgb(4, 4, 4);
}

.isHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}