.header-section {
  padding-top: 48px;
  padding-bottom: 97px;
  background-color: rgba(0, 0, 0, 0.8);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 230px;

  &__list {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url("../images/home-pc.jpg");
  }
}

.header-container {
  position: relative;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-section__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header-logo {
  display: flex;
  align-items: center;
  color: tomato;
}

.header-logo__icon {
  margin-right: 12px;
  position: relative;
}

.header-logo__label {
  // display: none;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;


  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header-btns {
  display: flex;
}

.header-btns__item {
  &:not(:last-child) {
    margin-right: 39px;
  }
}

.header-btns__label {
  background-color: transparent;

  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

}

.header-form {
  display: flex;
  margin: 0 auto 16px auto;
  max-width: 336px;
  border-bottom: 0.5px solid #FFFFFF;

  @media screen and (min-width: 768px) {
    margin: 0 auto 20px auto;
  }
}

.header-form__input {
  border: none;
  padding: 5px 0px;

  // font-family: ;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  // color: $;
  outline: none;
  background: none;
  width: 100%;

  // &::placeholder {
  //   color: ;
  // }
}

.header-form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 0;
  outline: none;
  width: 21px;
}

.header-form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 0;
  outline: none;
  width: 21px;
}

.header__failed-search-msg {
  color: #FF001B;
  font-weight:  400;
  font-size: 14px; 
  line-height: 1.14;
  

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  
}