.section {
    background-color: #E5E5E5;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

}

.container {
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1024px) {
        width: 1024px;
    }
}

.main__movie-img {
    width: 280px;
    height: 400px;
}

